:root {
    --dark: #1b2636;
    --dark-op: rgba(27, 38, 54, 0.87);
    --white: #d0f6ff;
    --green-light: rgba(1, 255, 246, 0.1);
    --green: rgb(5, 138, 134);;
    --gray:rgba(178, 181, 177, 0.15);
  }

html {
    background-color: var(--dark);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

img{
    -webkit-user-drag: none;
    user-select: none;
}


#app {
    height: 100vh;
    text-align: center;
}

button{
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
